<div class="signin-container" ng-controller="SigninCtrl">
    <form name="signinForm" class="form-signin" ng-submit="signin()" ng-keydown="$event.which === 13 && signin()" novalidate="">
        <h2 class="form-signin-heading">Please sign in</h2>

        <div class="alert alert-block alert-danger fade in" ng-if="error == '401'">
            <span>Invalid email or password. Please try again.</span>
        </div>

        <label class="sr-only">Email address</label>
        <input ng-model="email" id="email" ng-required="true" type="email" name="email" class="form-control" placeholder="Email address" required autofocus>
        <span class="text-danger" ng-show="signinForm.email.$dirty && signinForm.email.$error.required">Email is required</span>
        <span class="text-danger" ng-show="signinForm.email.$dirty && signinForm.email.$error.email">Not a valid email address.</span>

        <label class="sr-only">Password</label>
        <input ng-model="password" id="password" ng-required="true" type="password" type="password" class="form-control" placeholder="Password" required>
        <span class="text-danger" ng-show="signinForm.password.$dirty && signinForm.password.$error.required">Password is required</span>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="(signinForm.$dirty && signinForm.$invalid) || signinForm.$pristine">Sign in</button>
    </form>
</div>